* {
    margin: 0;
    padding: 0;
}

.markup {
    background: #fe9d9d;
    border: 1px solid #f94646;
    height: 120px;
}

.markup-container {
    background: #5bf946;
    border: 1px solid #36ae26;
}

.logo {
    margin: 15px;
}