@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

.markup {
    background: #fe9d9d;
    border: 1px solid #f94646;
    height: 120px;
}

.markup-container {
    background: #5bf946;
    border: 1px solid #36ae26;
}

.logo {
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}